@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Contacto";
}

<style>
    p{
        color: dimgrey;
        font-size: 2em;
    }
</style>

<script>
    function alerta() {
        alert("Esta es la pagina de contacto");
    }

    function GetTime() {
        var url = "@Url.Action("GetTime","Home")";

        fetch(url)
            .then(response => response.json())
            .then(data => {
                var jdata = JSON.parse(data);
                alert(jdata["time"]});
            });
    }
</script>

<h1>Pagina Contacto</h1>

<div>
    <p>
        Esta pagina contiene los datos para poder contactarnos <br />
        tel: 22366886 <br />
        Correo: jose@mail.com
    </p><br />
    <button onclick="alerta()">Obtener Fecha</button>
</div>
